@import url("../css/css.css?family=Roboto:300,700,400,100&subset=latin");
@import url("../css/css.css?family=Poppins:400,700,300,500,900,800&subset=latin");
@import url("../css/css.css?family=IBM+Plex+Sans:400,500&subset=latin");
@import url("../css/css.css?family=IBM+Plex+Sans+Condensed:400,500,100,600,200&subset=latin");
@import url("../css/css.css?family=Open+Sans:300,700,800,400&subset=latin");
@import url("../css/css.css?family=Lato:100,700,400,300&subset=latin");
@media (min-width: 300px) {
    [data-css="tve-u-15dcb3fcaa0"] {
        max-width: 1130px;
        padding: 0px 10px !important;
        margin-top: 0px !important;
        margin-right: 0px !important;
    }
    [data-css="tve-u-15dcb3f30ca"] {
        box-shadow: none;
        --tve-applied-box-shadow: none;
        background-color: rgb(255, 255, 255) !important;
    }
    :not(#tve) [data-css="tve-u-15dc78d0c63"] {
        --tcb-applied-color: rgb(198, 198, 198);
        --g-regular-weight: 400;
        --g-bold-weight: 700;
        font-family: Roboto !important;
        font-weight: var(--g-regular-weight, normal) !important;
        color: rgb(198, 198, 198) !important;
        font-size: 14px !important;
    }
    [data-css="tve-u-15dc7080f25"] {
        background-image: none !important;
        background-color: rgb(254, 254, 254) !important;
        --tve-applied-background-image: none !important;
        --tve-applied-background-color: rgb(254, 254, 254) !important;
    }
    #tcb_landing_page h1 strong {
        font-weight: 700;
    }
    #tcb_landing_page h1 {
        font-family: Lato;
        font-weight: 300;
        font-size: 63px;
        line-height: 63px;
    }
    #tcb_landing_page p strong,
    #tcb_landing_page li strong {
        font-weight: 700;
    }
    #tcb_landing_page p,
    #tcb_landing_page li {
        font-family: Lato;
        font-weight: 300;
    }
    [data-css="tve-u-15dc709091a"] {
        max-width: 1184px;
    }
    [data-css="tve-u-15dc70a01be"] {
        margin-top: 0px !important;
        padding: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    [data-css="tve-u-15dc70d1999"] {
        padding: 0px 10px !important;
        margin-top: 0px !important;
    }
    [data-css="tve-u-15dc78d0c63"] {
        font-size: 17px !important;
    }
    [data-css="tve-u-15dc78d0c64"] {
        margin: 0px 200px !important;
        padding: 20px 50px 5px !important;
        background-image: none !important;
    }
    [data-css="tve-u-16ed3c25da6"]>.tcb-flex-col {
        padding-left: 16px;
    }
    [data-css="tve-u-16ed3c25da6"] {
        margin-left: -16px;
        padding: 0px !important;
    }
    [data-css="tve-u-16ed3c28bed"] {
        z-index: 10 !important;
        margin-top: 0px !important;
    }
    [data-css="tve-u-16ed4387c4d"] {
        background-image: linear-gradient(rgba(215, 210, 210, 0.5), rgba(215, 210, 210, 0.5)) !important;
        background-size: auto !important;
        background-position: 50% 50% !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
        --tve-applied-background-image: linear-gradient(rgba(215, 210, 210, 0.5), rgba(215, 210, 210, 0.5)) !important;
    }
    [data-css="tve-u-17137e8a17e"] {
        margin-top: 20px !important;
    }
    :not(#tve) [data-css="tve-u-17137ecf43c"] {
        --g-regular-weight: 400;
        --g-bold-weight: 700;
        --tcb-applied-color: rgb(161, 161, 161) !important;
        font-size: 14px !important;
        font-weight: var(--g-regular-weight, normal) !important;
        color: rgb(161, 161, 161) !important;
        font-family: Roboto !important;
        --tve-applied-color: rgb(161, 161, 161) !important;
    }
    .tve_post_lp>div> :not(#tve) {
        --page-section-max-width: 1738px;
    }
    [data-css="tve-u-1729ab963f5"] {
        background-image: linear-gradient(rgb(92, 92, 92), rgb(92, 92, 92)) !important;
        background-size: auto !important;
        background-position: 50% 50% !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
    }
    [data-css="tve-u-1729ab97646"] {
        margin-top: 82px !important;
    }
    :not(#tve) [data-css="tve-u-1729ac37a88"] {
        color: rgb(252, 252, 252) !important;
        --tcb-applied-color: rgb(252, 252, 252) !important;
        font-size: 12px !important;
        font-weight: var(--g-regular-weight, normal) !important;
        font-style: italic !important;
    }
    [data-css="tve-u-1729ac4008c"] {
        margin-top: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    [data-css="tve-u-1729ac4c612"] {
        background-image: linear-gradient(rgba(194, 194, 194, 0.5), rgba(194, 194, 194, 0.5)) !important;
        --tve-applied-background-image: linear-gradient(rgba(194, 194, 194, 0.5), rgba(194, 194, 194, 0.5)) !important;
        background-size: auto !important;
        background-position: 50% 50% !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
    }
    [data-css="tve-u-1729ac6ba66"] {
        padding-top: 1px !important;
        background-image: none !important;
        --tve-applied-background-image: none !important;
    }
    :not(#tve) .thrv_widget_menu #m-1729acf6613>li:not(.tcb-excluded-from-group-item):hover>a {
        color: var(--tve-color, rgb(239, 239, 239)) !important;
        --tcb-applied-color: rgb(239, 239, 239) !important;
        text-decoration: var(--tve-text-decoration, underline) !important;
    }
    :not(#tve) .thrv_widget_menu #m-1729acf6613>li:not(.tcb-excluded-from-group-item):hover {
        --tve-color: rgb(239, 239, 239) !important;
        --tve-text-decoration: underline !important;
    }
    .thrv_widget_menu #m-1729acf6613>li:not(.tcb-excluded-from-group-item)>a {
        --tcb-applied-color: rgb(217, 217, 217);
        color: var(--tve-color, rgb(217, 217, 217)) !important;
        font-size: var(--tve-font-size, 14px) !important;
    }
    .thrv_widget_menu #m-1729acf6613>li:not(.tcb-excluded-from-group-item) {
        --tve-color: rgb(217, 217, 217);
        --tve-font-size: 14px;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
    [data-css="tve-u-1729acf6614"] {
        margin-top: 0px !important;
    }
    :not(#tve) [data-css="tve-u-17137ecf43c"] strong {
        font-weight: 700 !important;
    }
    :not(#tve) [data-css="tve-u-15dc78d0c63"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-174085b0247"] {
        background-image: none !important;
        --tve-applied-background-image: none !important;
    }
    [data-css="tve-u-1740862a5d4"] {
        border-bottom: 1px dotted rgb(185, 185, 185);
        margin-top: 0px !important;
        padding: 10px 100px 10px 150px !important;
        margin-left: 0px !important;
    }
    [data-css="tve-u-1740863764c"] {
        width: 167px;
        float: left;
        z-index: 3;
        position: relative;
        margin: 0px auto !important;
    }
    :not(#tve) [data-css="tve-u-174086b1842"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-family: "Open Sans" !important;
        font-weight: var(--g-regular-weight, normal) !important;
        font-size: 40px !important;
    }
    :not(#tve) [data-css="tve-u-174086b1842"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-174093c95c2"] {
        background-image: linear-gradient(rgb(59, 89, 152), rgb(59, 89, 152)) !important;
        background-size: auto !important;
        background-position: 50% 50% !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
        --tve-applied-background-image: linear-gradient(rgb(59, 89, 152), rgb(59, 89, 152)) !important;
    }
    [data-css="tve-u-174093cbecb"] {
        width: 20px;
        float: none;
        margin: 0px auto !important;
    }
    [data-css="tve-u-174093d460b"] {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    [data-css="tve-u-174093e0747"] {
        background-image: linear-gradient(rgb(0, 172, 238), rgb(0, 172, 238)) !important;
        background-size: auto !important;
        background-position: 50% 50% !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
        --tve-applied-background-image: linear-gradient(rgb(0, 172, 238), rgb(0, 172, 238)) !important;
    }
    :not(#tve) [data-css="tve-u-174093d460b"]:hover [data-css="tve-u-174093e0747"] {
        background-image: linear-gradient(rgb(123, 173, 193), rgb(123, 173, 193)) !important;
        background-size: auto !important;
        background-position: 50% 50% !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
        --tve-applied-background-image: linear-gradient(rgb(123, 173, 193), rgb(123, 173, 193)) !important;
    }
    [data-css="tve-u-17409449582"] {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
    [data-css="tve-u-1740944d329"] {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    [data-css="tve-u-1740944f366"] {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    [data-css="tve-u-17543551b12"] .tcb-button-link {
        border-radius: 100px;
        overflow: hidden;
        letter-spacing: var(--tve-letter-spacing, 1px);
        text-align: center;
        border: 1px solid rgb(0, 102, 153);
        --tve-applied-border: 1px solid rgb(0, 102, 153);
        padding: 6px 22px 6px 6px !important;
        background-color: rgb(53, 178, 52) !important;
        background-image: none !important;
        --tve-applied-background-color: rgb(53, 178, 52) !important;
    }
    :not(#tve) [data-css="tve-u-17543551b12"]:hover .tcb-button-link {
        background-image: none !important;
        background-color: rgb(47, 153, 46) !important;
        --tve-applied-background-image: none !important;
        --tve-applied-background-color: rgb(47, 153, 46) !important;
    }
    [data-css="tve-u-17543551b12"] {
        --tve-letter-spacing: 1px;
        --tcb-local-color-fde97: rgb(19, 114, 211);
        display: block;
        max-width: 54%;
        width: 54%;
        --tve-font-weight: var(--g-bold-weight, bold);
        --tve-font-family: Roboto;
        --g-regular-weight: 400;
        --g-bold-weight: 700;
        --tve-font-size: 15px;
        --tve-line-height: 2em;
        float: none;
        --tcb-local-color-dab19: rgb(122, 193, 67) !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    :not(#tve) [data-css="tve-u-17543551b12"] .tcb-button-link span {
        font-weight: var(--tve-font-weight, var(--g-bold-weight, bold));
    }
    :not(#tve) [data-css="tve-u-17543551b12"] .tcb-button-link {
        font-family: var(--tve-font-family, Roboto);
        line-height: var(--tve-line-height, 2em);
        font-size: var(--tve-font-size, 15px) !important;
    }
    [data-css="tve-u-17543565ed1"] {
        border-radius: 100px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 14px 0px;
        --tcb-local-color-icon: rgb(255, 255, 255);
        --tcb-local-color-var: rgb(255, 255, 255);
        --tve-icon-size: 50px;
        border: 1px solid rgb(0, 102, 153);
        --tve-applied-border: 1px solid rgb(0, 102, 153);
        font-size: 50px;
        width: 50px;
        height: 50px;
        padding: 18px !important;
        background-color: transparent !important;
        background-image: none !important;
        --tve-applied-background-image: none !important;
    }
    :not(#tve) [data-css="tve-u-17543565ed1"]:hover {
        background-color: transparent !important;
        background-image: none !important;
        --tve-applied-background-image: none !important;
    }
    [data-css="tve-u-17543551b12"]:hover [data-css="tve-u-17543565ed1"] {
        background-color: transparent !important;
        background-image: none !important;
    }
    :not(#tve) [data-css="tve-u-17543569a7c"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 26px !important;
        font-family: Poppins !important;
    }
    [data-css="tve-u-176d5aa31f7"] {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    :not(#tve) [data-css="tve-u-176d5aa31f7"]:hover [data-css="tve-u-174093c95c2"] {
        background-image: linear-gradient(rgb(126, 143, 179), rgb(126, 143, 179)) !important;
        background-size: auto !important;
        background-position: 50% 50% !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
        --tve-applied-background-image: linear-gradient(rgb(126, 143, 179), rgb(126, 143, 179)) !important;
    }
    [data-css="tve-u-1774b9370bc"] {
        color: rgb(255, 255, 255) !important;
    }
    [data-css="tve-u-1774b9370bf"] {
        --tcb-applied-color: rgb(51, 51, 51) !important;
    }
    :not(#tve) [data-css="tve-u-1774b9463c8"] {
        color: rgb(51, 51, 51) !important;
        --tcb-applied-color: rgb(51, 51, 51) !important;
        --tve-applied-color: rgb(51, 51, 51) !important;
        font-size: 13px !important;
    }
    [data-css="tve-u-1774bbb31d5"] {
        width: 888px;
        float: none;
        border: 6px solid rgb(255, 0, 0);
        --tve-applied-border: 6px solid rgb(255, 0, 0);
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 2px !important;
    }
    :not(#tve) [data-css="tve-u-1774bc1d74c"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        letter-spacing: 1px;
        font-family: Poppins !important;
        font-weight: var(--g-bold-weight, bold) !important;
        font-size: 20px !important;
        color: rgb(92, 92, 92) !important;
        --tcb-applied-color: rgb(92, 92, 92) !important;
        --tve-applied-color: rgb(92, 92, 92) !important;
    }
    :not(#tve) [data-css="tve-u-1774bc1d74c"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774bc1d74c"] {
        line-height: 1.5em !important;
    }
    [data-css="tve-u-1774bc20caa"] {
        margin-bottom: 15px !important;
        margin-top: 40px !important;
    }
    [data-css="tve-u-1774bc788e8"] {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    :not(#tve) [data-css="tve-u-1774bccfc55"] p,
     :not(#tve) [data-css="tve-u-1774bccfc55"] li,
     :not(#tve) [data-css="tve-u-1774bccfc55"] blockquote,
     :not(#tve) [data-css="tve-u-1774bccfc55"] address,
     :not(#tve) [data-css="tve-u-1774bccfc55"] .tcb-plain-text,
     :not(#tve) [data-css="tve-u-1774bccfc55"] label {
        font-weight: var(--tve-font-weight, var(--g-regular-weight, normal));
        font-family: var(--tve-font-family, Poppins);
    }
    [data-css="tve-u-1774bccfc55"] {
        --tve-font-weight: var(--g-regular-weight, normal);
        --tve-font-family: Poppins;
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        --tve-font-size: 20px;
        margin-bottom: 0px !important;
    }
    :not(#tve) [data-css="tve-u-1774bccfc55"] li {
        font-size: var(--tve-font-size, 20px) !important;
        margin-bottom: 25px !important;
    }
    [data-css="tve-u-1774bcd704b"] {
        line-height: 1.95em !important;
    }
    [data-css="tve-u-1774bce7a1e"] {
        --tcb-local-color-icon: rgb(53, 178, 52);
        --tcb-local-color-var: rgb(53, 178, 52);
        --tve-icon-size: 25px;
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
    :not(#tve) [data-css="tve-u-1774bce7a1e"]> :first-child {
        color: rgb(53, 178, 52);
        --tve-applied-color: rgb(53, 178, 52);
    }
    [data-css="tve-u-1774bd09799"] {
        border: 1px dotted rgb(46, 46, 46) !important;
        --tve-applied-border: 1px dotted rgb(46, 46, 46) !important;
    }
    [data-css="tve-u-17543569a7c"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-17543569a7c"] {
        line-height: 1.4em !important;
    }
    [data-css="tve-u-1774bd7aa5a"] {
        width: 784px;
        float: none;
        margin: 40px auto !important;
    }
    [data-css="tve-u-1774bdd8127"] h3 {
        margin: 0px !important;
        padding: 0px !important;
    }
    [data-css="tve-u-1774bdd8127"] p {
        margin: 0px !important;
        padding: 0px !important;
    }
    [data-css="tve-u-1774bdd812b"] {
        background-image: none !important;
        background-color: var(--tcb-local-color-cdf02) !important;
        padding: 50px !important;
    }
    [data-css="tve-u-1774bdd8129"] {
        margin-left: 0px;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
    [data-css="tve-u-1774bdd8128"] {
        background-image: none !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    [data-css="tve-u-1774bdd8137"] {
        max-width: 42%;
    }
    [data-css="tve-u-1774bdd812a"] {
        max-width: 58%;
    }
    [data-css="tve-u-1774bdd8131"] {
        background-image: none !important;
        margin-bottom: 20px !important;
        margin-top: 0px !important;
    }
    [data-css="tve-u-1774bdd812f"] {
        background-image: none !important;
        padding: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 25px !important;
    }
    [data-css="tve-u-1774bdd8130"] {
        line-height: 1.3em !important;
    }
    :not(#tve) [data-css="tve-u-1774bdd8130"] {
        text-shadow: none;
        --g-regular-weight: 100;
        --g-bold-weight: 600;
        --tcb-applied-color: var$(--tcb-local-color-d11ad) !important;
        font-family: "IBM Plex Sans Condensed" !important;
        font-weight: var(--g-regular-weight, normal) !important;
        color: var(--tcb-local-color-d11ad) !important;
        font-size: 50px !important;
        line-height: 1em !important;
    }
    [data-css="tve-u-1774bdd8126"] {
        border-radius: 2px;
        overflow: hidden;
        background-image: none !important;
        background-color: rgb(255, 255, 255) !important;
        border: none !important;
    }
    [data-css="tve-u-1774bdd8125"] {
        --tcb-local-color-d11ad: rgb(64, 102, 174);
        --tcb-local-color-cdf02: rgb(234, 237, 241);
        --tcb-local-color-9f409: rgb(0, 24, 56);
        padding: 2px 0px !important;
        margin-bottom: 20px !important;
    }
    [data-css="tve-u-1774bdd812c"] {
        margin: 0px !important;
        padding: 60px 40px !important;
    }
    [data-css="tve-u-1774bdd812d"] {
        border-top-right-radius: 80px;
        overflow: hidden;
        border-bottom-left-radius: 80px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 17px 0px;
        background-color: rgb(254, 254, 254) !important;
        --tve-applied-background-color: rgb(254, 254, 254) !important;
    }
    :not(#tve) [data-css="tve-u-1774bdd8130"] strong {
        font-weight: 600 !important;
    }
    [data-css="tve-u-1774bdd8138"] {
        background-color: transparent !important;
        background-image: none !important;
        --tve-applied-background-image: none !important;
    }
    [data-css="tve-u-1774bdd8129"]>.tcb-flex-col {
        padding-left: 0px;
    }
    :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] p,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] li,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] blockquote,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] address,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] .tcb-plain-text,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] label {
        font-size: 18px;
        font-family: Poppins;
        line-height: 1.7em;
    }
    :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] p,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] li,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] blockquote,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] address,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] .tcb-plain-text,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] label {
        font-size: 18px;
        font-family: Poppins;
        line-height: 1.7em;
    }
    :not(#tve) [data-css="tve-u-1774bdd812b"]:hover {
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)) !important;
        background-size: auto !important;
        background-position: 50% 50% !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
    }
    :not(#tve) [data-css="tve-u-1774bdd8127"] p,
     :not(#tve) [data-css="tve-u-1774bdd8127"] li,
     :not(#tve) [data-css="tve-u-1774bdd8127"] blockquote,
     :not(#tve) [data-css="tve-u-1774bdd8127"] address,
     :not(#tve) [data-css="tve-u-1774bdd8127"] .tcb-plain-text,
     :not(#tve) [data-css="tve-u-1774bdd8127"] label {
        font-weight: 400 !important;
    }
    :not(#tve) [data-css="tve-u-1774bdd812e"] p,
     :not(#tve) [data-css="tve-u-1774bdd812e"] li,
     :not(#tve) [data-css="tve-u-1774bdd812e"] blockquote,
     :not(#tve) [data-css="tve-u-1774bdd812e"] address,
     :not(#tve) [data-css="tve-u-1774bdd812e"] .tcb-plain-text,
     :not(#tve) [data-css="tve-u-1774bdd812e"] label {
        font-weight: 400 !important;
    }
    [data-css="tve-u-1774bdd8127"] {
        --g-regular-weight: 400;
        --g-bold-weight: 500;
    }
    [data-css="tve-u-1774bdd812e"] {
        --g-regular-weight: 400;
        --g-bold-weight: 500;
    }
    :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] p,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] li,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] blockquote,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] address,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] .tcb-plain-text,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] label,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h1,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h2,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h3,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h4,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h5,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h6 {
        color: rgb(102, 102, 102);
        --tcb-applied-color: rgb(102, 102, 102);
    }
    :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] p,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] li,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] blockquote,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] address,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] .tcb-plain-text,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] label,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h1,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h2,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h3,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h4,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h5,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h6 {
        color: rgb(102, 102, 102);
        --tcb-applied-color: rgb(102, 102, 102);
    }
    :not(#tve) [data-css="tve-u-1774bdd8132"] {
        --tcb-applied-color: rgb(192, 24, 24) !important;
        color: rgb(192, 24, 24) !important;
        font-size: 20px !important;
        --tve-applied-color: rgb(192, 24, 24) !important;
    }
    [data-css="tve-u-1774be0a249"] {
        width: 572px;
        margin-top: 50px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    [data-css="tve-u-1774bf18cf3"] {
        width: 746px;
        float: none;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    :not(#tve) [data-css="tve-u-1774c12140f"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        letter-spacing: 1px;
        font-family: Poppins !important;
        font-weight: var(--g-regular-weight, normal) !important;
        font-size: 20px !important;
        color: rgb(0, 0, 0) !important;
        --tcb-applied-color: rgb(0, 0, 0) !important;
        --tve-applied-color: rgb(0, 0, 0) !important;
    }
    :not(#tve) [data-css="tve-u-1774c12140f"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774c12140f"] {
        line-height: 1.5em !important;
    }
    [data-css="tve-u-1774c129fbf"] {
        overflow: hidden;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        background-color: rgb(255, 251, 211) !important;
        --tve-applied-background-color: rgb(255, 251, 211) !important;
        padding: 20px !important;
        border: 1px solid rgb(250, 145, 17) !important;
        --tve-applied-border: 1px solid rgb(250, 145, 17) !important;
        border-radius: 9px !important;
    }
    :not(#tve) [data-css="tve-u-1774c254395"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        letter-spacing: 1px;
        font-family: Poppins !important;
        font-weight: var(--g-regular-weight, normal) !important;
        font-size: 20px !important;
    }
    :not(#tve) [data-css="tve-u-1774c254395"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774c254395"] {
        line-height: 1.5em !important;
    }
    :not(#tve) [data-css="tve-u-1774c261efc"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        letter-spacing: 1px;
        font-family: Poppins !important;
        font-weight: var(--g-regular-weight, normal) !important;
        font-size: 20px !important;
    }
    :not(#tve) [data-css="tve-u-1774c261efc"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774c261efc"] {
        line-height: 1.5em !important;
    }
    :not(#tve) [data-css="tve-u-1774c26d562"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        letter-spacing: 1px;
        font-family: Poppins !important;
        font-weight: var(--g-regular-weight, normal) !important;
        font-size: 20px !important;
    }
    :not(#tve) [data-css="tve-u-1774c26d562"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774c26d562"] {
        line-height: 1.5em !important;
    }
    :not(#tve) [data-css="tve-u-1774c26e966"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        letter-spacing: 1px;
        font-family: Poppins !important;
        font-weight: var(--g-bold-weight, bold) !important;
        font-size: 25px !important;
    }
    :not(#tve) [data-css="tve-u-1774c26e966"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774c26e966"] {
        line-height: 1.5em !important;
    }
    :not(#tve) [data-css="tve-u-1774c272f78"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        letter-spacing: 1px;
        font-family: Poppins !important;
        font-weight: var(--g-regular-weight, normal) !important;
        font-size: 20px !important;
    }
    :not(#tve) [data-css="tve-u-1774c272f78"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774c272f78"] {
        line-height: 1.5em !important;
    }
    :not(#tve) [data-css="tve-u-1774c27ba24"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        letter-spacing: 1px;
        font-family: Poppins !important;
        font-weight: var(--g-regular-weight, normal) !important;
        font-size: 20px !important;
    }
    :not(#tve) [data-css="tve-u-1774c27ba24"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774c27ba24"] {
        line-height: 1.5em !important;
    }
    [data-css="tve-u-1774c292a58"] .tcb-button-link {
        border-radius: 100px;
        overflow: hidden;
        letter-spacing: var(--tve-letter-spacing, 1px);
        text-align: center;
        border: 1px solid rgb(0, 102, 153);
        --tve-applied-border: 1px solid rgb(0, 102, 153);
        padding: 6px 22px 6px 6px !important;
        background-color: rgb(53, 178, 52) !important;
        background-image: none !important;
        --tve-applied-background-color: rgb(53, 178, 52) !important;
    }
    :not(#tve) [data-css="tve-u-1774c292a58"]:hover .tcb-button-link {
        background-image: none !important;
        background-color: rgb(47, 153, 46) !important;
        --tve-applied-background-image: none !important;
        --tve-applied-background-color: rgb(47, 153, 46) !important;
    }
    [data-css="tve-u-1774c292a58"] {
        --tve-letter-spacing: 1px;
        --tcb-local-color-fde97: rgb(19, 114, 211);
        display: block;
        max-width: 49%;
        width: 49%;
        --tve-font-weight: var(--g-bold-weight, bold);
        --tve-font-family: Roboto;
        --g-regular-weight: 400;
        --g-bold-weight: 700;
        --tve-font-size: 15px;
        --tve-line-height: 2em;
        --tcb-local-color-dab19: rgb(122, 193, 67) !important;
        min-width: 100% !important;
    }
    :not(#tve) [data-css="tve-u-1774c292a58"] .tcb-button-link span {
        font-weight: var(--tve-font-weight, var(--g-bold-weight, bold));
    }
    :not(#tve) [data-css="tve-u-1774c292a58"] .tcb-button-link {
        font-family: var(--tve-font-family, Roboto);
        line-height: var(--tve-line-height, 2em);
        font-size: var(--tve-font-size, 15px) !important;
    }
    [data-css="tve-u-1774c292a5d"] {
        border-radius: 100px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 14px 0px;
        --tcb-local-color-icon: rgb(255, 255, 255);
        --tcb-local-color-var: rgb(255, 255, 255);
        --tve-icon-size: 50px;
        border: 1px solid rgb(0, 102, 153);
        --tve-applied-border: 1px solid rgb(0, 102, 153);
        font-size: 50px;
        width: 50px;
        height: 50px;
        padding: 18px !important;
        background-color: transparent !important;
        background-image: none !important;
        --tve-applied-background-image: none !important;
    }
    :not(#tve) [data-css="tve-u-1774c292a5d"]:hover {
        background-color: transparent !important;
        background-image: none !important;
        --tve-applied-background-image: none !important;
    }
    [data-css="tve-u-1774c292a58"]:hover [data-css="tve-u-1774c292a5d"] {
        background-color: transparent !important;
        background-image: none !important;
    }
    :not(#tve) [data-css="tve-u-1774c292a61"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 35px !important;
        font-family: Poppins !important;
    }
    [data-css="tve-u-1774c292a61"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774c292a61"] {
        line-height: 1.4em !important;
    }
    [data-css="tve-u-1774c2ded96"] {
        padding-right: 0px !important;
    }
    [data-css="tve-u-1775b409dc5"] {
        --tcb-local-color-icon: rgb(53, 178, 52);
        --tcb-local-color-var: rgb(53, 178, 52);
        --tve-icon-size: 25px;
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
    :not(#tve) [data-css="tve-u-1775b409dc5"]> :first-child {
        color: rgb(53, 178, 52);
        --tve-applied-color: rgb(53, 178, 52);
    }
    [data-css="tve-u-1776a514bce"]::after {
        clear: both;
    }
    :not(#tve) [data-css="tve-u-1776a540ac4"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-family: Poppins !important;
        font-weight: var(--g-regular-weight, normal) !important;
        font-size: 19px !important;
        color: rgb(0, 106, 182) !important;
        --tcb-applied-color: rgb(0, 106, 182) !important;
        --tve-applied-color: rgb(0, 106, 182) !important;
    }
    :not(#tve) [data-css="tve-u-1776a540ac4"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1776a540ac4"] {
        line-height: 1.5em !important;
    }
    [data-css="tve-u-1776a54b8b6"] {
        max-width: 17.1%;
    }
    [data-css="tve-u-1776a54b8e4"] {
        max-width: 56.1%;
    }
    [data-css="tve-u-1776a54b90a"] {
        max-width: 26.8%;
    }
    [data-css="tve-u-1776a58ccac"] .tcb-button-link {
        letter-spacing: var(--tve-letter-spacing, 2px);
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px inset;
        border: 1px solid rgb(31, 115, 173);
        --tve-applied-border: 1px solid rgb(31, 115, 173);
        background-color: var(--tcb-local-color-d3c5e) !important;
        background-image: none !important;
        padding: 19px !important;
    }
    :not(#tve) [data-css="tve-u-1776a58ccac"] .tcb-button-link {
        font-size: var(--tve-font-size, 18px) !important;
    }
    [data-css="tve-u-1776a58ccac"] {
        --tve-font-size: 18px;
        --tve-letter-spacing: 2px;
        --tve-font-weight: var(--g-bold-weight, bold);
        --tcb-local-color-feb8a: rgb(19, 114, 211);
        float: none;
        --tcb-local-color-d3c5e: rgb(47, 153, 46) !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    :not(#tve) [data-css="tve-u-1776a58ccac"]:hover .tcb-button-link {
        background-image: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)) !important;
        background-size: auto !important;
        background-position: 50% 50% !important;
        background-attachment: scroll !important;
        background-repeat: no-repeat !important;
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px inset !important;
        border: 1px solid var(--tcb-local-color-d3c5e) !important;
        background-color: var(--tcb-local-color-d3c5e) !important;
    }
    :not(#tve) [data-css="tve-u-1776a58ccac"] .tcb-button-link span {
        font-weight: var(--tve-font-weight, var(--g-bold-weight, bold));
    }
    :not(#tve) [data-css="tve-u-1776a59c9bb"] {
        --g-regular-weight: 400;
        --g-bold-weight: 700;
        font-family: Poppins !important;
    }
    [data-css="tve-u-1776a59c9bb"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1776a5a2ea5"] {
        float: none;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 10px !important;
    }
    [data-css="tve-u-1776a5d7021"] {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
    [data-css="tve-u-1776a8ec75f"] {
        margin-top: 30px !important;
        margin-bottom: 15px !important;
    }
    [data-css="tve-u-1776aa6026a"] {
        line-height: 1.5em !important;
    }
    :not(#tve) [data-css="tve-u-1776aa6026a"] {
        text-shadow: none;
        --g-regular-weight: 100;
        --g-bold-weight: 600;
        --tcb-applied-color: var$(--tcb-local-color-d11ad) !important;
        font-family: "IBM Plex Sans Condensed" !important;
        font-weight: var(--g-regular-weight, normal) !important;
        color: var(--tcb-local-color-d11ad) !important;
        font-size: 54px !important;
        line-height: 1em !important;
    }
    :not(#tve) [data-css="tve-u-1776aa6026a"] strong {
        font-weight: 600 !important;
    }
    [data-css="tve-u-1776ab5053f"] {
        margin-bottom: 25px !important;
        margin-top: 50px !important;
    }
    :not(#tve) [data-css="tve-u-177707d3793"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    [data-css="tve-u-177707d7c7e"] {
        color: rgb(23, 25, 28) !important;
    }
    :not(#tve) [data-css="tve-u-177707f88fe"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    :not(#tve) [data-css="tve-u-1777081a7e6"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    [data-css="tve-u-177708f374a"] .tcb-button-link {
        border-radius: 100px;
        overflow: hidden;
        letter-spacing: var(--tve-letter-spacing, 1px);
        text-align: center;
        border: 1px solid rgb(0, 102, 153);
        --tve-applied-border: 1px solid rgb(0, 102, 153);
        padding: 6px 22px 6px 6px !important;
        background-color: rgb(53, 178, 52) !important;
        background-image: none !important;
        --tve-applied-background-color: rgb(53, 178, 52) !important;
    }
    :not(#tve) [data-css="tve-u-177708f374a"]:hover .tcb-button-link {
        background-image: none !important;
        background-color: rgb(112, 186, 112) !important;
        --tve-applied-background-image: none !important;
        --tve-applied-background-color: rgb(112, 186, 112) !important;
    }
    [data-css="tve-u-177708f374a"] {
        --tve-letter-spacing: 1px;
        --tcb-local-color-fde97: rgb(19, 114, 211);
        display: block;
        max-width: 79%;
        width: 79%;
        --tve-font-weight: var(--g-bold-weight, bold);
        --tve-font-family: Roboto;
        --g-regular-weight: 400;
        --g-bold-weight: 700;
        --tve-font-size: 15px;
        --tve-line-height: 2em;
        float: none;
        --tcb-local-color-dab19: rgb(122, 193, 67) !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 39px !important;
    }
    :not(#tve) [data-css="tve-u-177708f374a"] .tcb-button-link span {
        font-weight: var(--tve-font-weight, var(--g-bold-weight, bold));
    }
    :not(#tve) [data-css="tve-u-177708f374a"] .tcb-button-link {
        font-family: var(--tve-font-family, Roboto);
        line-height: var(--tve-line-height, 2em);
        font-size: var(--tve-font-size, 15px) !important;
    }
    [data-css="tve-u-177708f374d"] {
        border-radius: calc(var(--tve-icon-size) * 2);
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 14px 0px;
        --tcb-local-color-icon: rgb(129, 222, 128);
        --tcb-local-color-var: rgb(129, 222, 128);
        --tve-icon-size: 50px;
        border: calc(var(--tve-icon-size) / 10) solid var(--tcb-local-color-icon);
        --tve-applied-border: calc(var$(--tve-icon-size) / 10) solid var$(--tcb-local-color-icon);
        font-size: 50px;
        width: 50px;
        height: 50px;
        padding: calc(var(--tve-icon-size) / 3) !important;
        background-color: rgb(255, 255, 255) !important;
        background-image: linear-gradient(var(--tcb-local-color-icon), var(--tcb-local-color-icon)) !important;
        --tve-applied-background-image: linear-gradient(var$(--tcb-local-color-icon), var$(--tcb-local-color-icon)) !important;
        --tve-applied-background-color: rgb(255, 255, 255) !important;
        background-size: auto;
        background-attachment: scroll, scroll, scroll;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    :not(#tve) [data-css="tve-u-177708f374d"]:hover {
        background-color: transparent !important;
        background-image: none !important;
        --tve-applied-background-image: none !important;
        --tcb-local-color-icon: rgb(255, 255, 255) !important;
        --tcb-local-color-var: rgb(255, 255, 255) !important;
    }
    [data-css="tve-u-177708f374a"]:hover [data-css="tve-u-177708f374d"] {
        background-color: transparent !important;
        background-image: none !important;
    }
    :not(#tve) [data-css="tve-u-177708f3750"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 19px !important;
        font-family: Poppins !important;
        color: rgb(255, 255, 255) !important;
        --tcb-applied-color: rgb(255, 255, 255) !important;
        --tve-applied-color: rgb(255, 255, 255) !important;
    }
    [data-css="tve-u-177708f3750"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-177708f3750"] {
        line-height: 1.4em !important;
    }
    [data-css="tve-u-1777090dad7"] {
        margin-top: 10px !important;
        margin-bottom: 15px !important;
    }
    :not(#tve) [data-css="tve-u-17770917487"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    :not(#tve) [data-css="tve-u-1777092ff66"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    [data-css="tve-u-17770939571"] {
        color: rgb(192, 24, 24) !important;
    }
    :not(#tve) [data-css="tve-u-17770a90dd4"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    :not(#tve) [data-css="tve-u-17770abfd19"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    [data-css="tve-u-17770ae1b1a"] {
        --tcb-local-color-icon: rgb(53, 178, 52);
        --tcb-local-color-var: rgb(53, 178, 52);
        --tve-icon-size: 25px;
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
    :not(#tve) [data-css="tve-u-17770ae1b1a"]> :first-child {
        color: rgb(53, 178, 52);
        --tve-applied-color: rgb(53, 178, 52);
    }
    :not(#tve) [data-css="tve-u-17770af3e25"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    :not(#tve) [data-css="tve-u-17770b0454d"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    [data-css="tve-u-17770b12e2a"] {
        --tcb-local-color-icon: rgb(53, 178, 52);
        --tcb-local-color-var: rgb(53, 178, 52);
        --tve-icon-size: 25px;
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
    :not(#tve) [data-css="tve-u-17770b12e2a"]> :first-child {
        color: rgb(53, 178, 52);
        --tve-applied-color: rgb(53, 178, 52);
    }
    :not(#tve) [data-css="tve-u-17770b23856"] {
        font-weight: var(--g-bold-weight, bold) !important;
    }
    [data-css="tve-u-17770bdee8e"] {
        font-size: 10px !important;
    }
    [data-css="tve-u-17787d8b693"] {
        margin-top: 0px;
        margin-left: 0px;
    }
    [data-css="tve-u-17787ea6e46"] .tve_sep {
        border-width: 10px !important;
        border-color: rgb(0, 106, 182) !important;
    }
    [data-css="tve-u-17787ea6e46"] {
        padding: 0px !important;
    }
    [data-css="tve-u-17787df8e85"] {
        margin-top: 0px !important;
    }
    [data-css="tve-u-17787df7e74"] {
        padding-top: 0px !important;
    }
    [data-css="tve-u-17787edc969"] {
        min-height: 0px !important;
    }
    [data-css="tve-u-17788e8e84c"] {
        line-height: 1.3em !important;
    }
    :not(#tve) [data-css="tve-u-17788e8e84c"] {
        text-shadow: none;
        --g-regular-weight: 100;
        --g-bold-weight: 600;
        --tcb-applied-color: var$(--tcb-local-color-d11ad) !important;
        font-family: "IBM Plex Sans Condensed" !important;
        font-weight: var(--g-regular-weight, normal) !important;
        color: var(--tcb-local-color-d11ad) !important;
        font-size: 50px !important;
        line-height: 1em !important;
    }
    :not(#tve) [data-css="tve-u-17788e8e84c"] strong {
        font-weight: 600 !important;
    }
    [data-css="tve-u-17788ec0d19"] {
        margin-top: 0px;
        margin-left: 0px;
    }
    [data-css="tve-u-17543745495"] {
        margin-top: 45px !important;
    }
    :not(#tve) [data-css="tve-u-177708f374d"]> :first-child {
        color: rgb(255, 255, 255);
        --tve-applied-color: #fff;
    }
    :not(#tve) [data-css="tve-u-177708f374d"]:hover> :first-child {
        color: rgb(255, 255, 255) !important;
        --tve-applied-color: rgb(255, 255, 255) !important;
    }
    [data-css="tve-u-177894e0392"] {
        width: 888px;
        float: none;
        border: 6px solid rgb(255, 0, 0);
        --tve-applied-border: 6px solid rgb(255, 0, 0);
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 2px !important;
    }
}

@media (max-width: 1023px) {
    [data-css="tve-u-15dcb3fcaa0"] {
        padding-top: 30px !important;
    }
    [data-css="tve-u-15dc70a01be"] {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    [data-css="tve-u-1774bdd812c"] {
        padding: 30px !important;
    }
    [data-css="tve-u-1774bdd812b"] {
        padding: 30px !important;
    }
    [data-css="tve-u-1774bdd812a"] {
        max-width: 62.8%;
    }
    [data-css="tve-u-1774bdd8137"] {
        max-width: 37.2%;
    }
    :not(#tve) [data-css="tve-u-1774bdd8130"] {
        font-size: 48px !important;
    }
    [data-css="tve-u-1774bdd812d"] {
        border-top-right-radius: 60px;
        overflow: hidden;
        border-bottom-left-radius: 60px;
    }
    :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] p,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] li,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] blockquote,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] address,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] .tcb-plain-text,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] label,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h1,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h2,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h3,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h4,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h5,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd8127"] h6 {
        color: rgb(102, 102, 102);
        --tcb-applied-color: rgb(102, 102, 102);
    }
    :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] p,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] li,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] blockquote,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] address,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] .tcb-plain-text,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] label,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h1,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h2,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h3,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h4,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h5,
     :not(#tve) .thrv-content-box [data-css="tve-u-1774bdd812e"] h6 {
        color: rgb(102, 102, 102);
        --tcb-applied-color: rgb(102, 102, 102);
    }
    :not(#tve) [data-css="tve-u-1776aa6026a"] {
        font-size: 48px !important;
    }
    :not(#tve) [data-css="tve-u-17788e8e84c"] {
        font-size: 48px !important;
    }
}

@media (max-width: 767px) {
    [data-css="tve-u-15dc70d1999"] {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 5px !important;
    }
    [data-css="tve-u-15dcb3fcaa0"] {
        padding-top: 0px !important;
    }
    [data-css="tve-u-15dc70a01be"] {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    [data-css="tve-u-16ed3c25da6"] {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    [data-css="tve-u-15dc78d0c64"] {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .thrv_widget_menu #m-1729acf6613>li:not(.tcb-excluded-from-group-item)>a {
        font-size: var(--tve-font-size, 14px) !important;
    }
    .thrv_widget_menu #m-1729acf6613>li:not(.tcb-excluded-from-group-item) {
        --tve-font-size: 14px;
    }
    :not(#tve) [data-css="tve-u-174086b1842"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 22px !important;
        color: rgb(59, 89, 152) !important;
        --tcb-applied-color: rgb(59, 89, 152) !important;
        --tve-applied-color: rgb(59, 89, 152) !important;
        font-family: Roboto !important;
        font-weight: var(--g-regular-weight, normal) !important;
    }
    [data-css="tve-u-1740862a5d4"] {
        padding-left: 1px !important;
        padding-right: 1px !important;
        padding-top: 0px !important;
    }
    [data-css="tve-u-1740863764c"] {
        width: 176px;
        float: none;
        margin: 0px auto !important;
    }
    [data-css="tve-u-17543551b12"] {
        min-width: 100% !important;
    }
    [data-css="tve-u-17543745495"] {
        float: none;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 0px !important;
    }
    [data-css="tve-u-176d5aa31f7"] {
        margin-bottom: 0px !important;
        margin-top: 15px !important;
    }
    [data-css="tve-u-174093d460b"] {
        margin-top: 5px !important;
        margin-bottom: 10px !important;
    }
    :not(#tve) [data-css="tve-u-17543569a7c"] {
        font-size: 14px !important;
    }
    [data-css="tve-u-17543569a7c"] {
        line-height: 1.3em !important;
    }
    [data-css="tve-u-1774bdd812f"] {
        background-image: none !important;
        margin-bottom: 20px !important;
    }
    :not(#tve) [data-css="tve-u-1774bdd8130"] {
        font-size: 34px !important;
    }
    [data-css="tve-u-1774bdd812c"] {
        padding: 35px 20px 20px !important;
    }
    [data-css="tve-u-1774bdd812d"] {
        border-top-right-radius: 30px;
        overflow: hidden;
        border-bottom-left-radius: 30px;
    }
    [data-css="tve-u-1774bdd812b"] {
        padding: 20px !important;
    }
    [data-css="tve-u-1774bdd8138"] {
        padding-top: 0px !important;
        background-position: 50% 52% !important;
    }
    [data-css="tve-u-1774bdd8129"] {
        flex-flow: row-reverse wrap-reverse !important;
    }
    [data-css="tve-u-1774bdd8125"] {
        padding: 2px 0px !important;
    }
    :not(#tve) [data-css="tve-u-1774bdd8132"] {
        font-size: 16px !important;
        color: rgb(219, 40, 40) !important;
        --tcb-applied-color: rgb(219, 40, 40) !important;
        --tve-applied-color: rgb(219, 40, 40) !important;
    }
    :not(#tve) [data-css="tve-u-1774bc1d74c"] {
        font-size: 18px !important;
    }
    :not(#tve) [data-css="tve-u-1774c254395"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 17px !important;
        font-family: Roboto !important;
        font-weight: var(--g-regular-weight, normal) !important;
    }
    :not(#tve) [data-css="tve-u-1774c261efc"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 17px !important;
        font-family: Roboto !important;
        font-weight: var(--g-regular-weight, normal) !important;
    }
    :not(#tve) [data-css="tve-u-1774c26d562"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 17px !important;
        font-family: Roboto !important;
        font-weight: var(--g-regular-weight, normal) !important;
    }
    :not(#tve) [data-css="tve-u-1774c26e966"] {
        font-size: 20px !important;
    }
    :not(#tve) [data-css="tve-u-1774c272f78"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 17px !important;
        font-family: Roboto !important;
        font-weight: var(--g-regular-weight, normal) !important;
    }
    :not(#tve) [data-css="tve-u-1774c27ba24"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 17px !important;
        font-family: Roboto !important;
        font-weight: var(--g-regular-weight, normal) !important;
    }
    :not(#tve) [data-css="tve-u-1774bcd704b"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 17px !important;
        font-family: Roboto !important;
        font-weight: var(--g-regular-weight, normal) !important;
    }
    [data-css="tve-u-1774c28009a"] {
        font-size: 18px !important;
    }
    [data-css="tve-u-1774c292a58"] {
        min-width: 100% !important;
    }
    :not(#tve) [data-css="tve-u-1774c292a61"] {
        font-size: 18px !important;
    }
    [data-css="tve-u-1774c292a61"] {
        line-height: 1.3em !important;
    }
    [data-css="tve-u-1774c292a58"] .tcb-button-link {
        padding-left: 22px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    [data-css="tve-u-1776a58ccac"] .tcb-button-link {
        padding: 17px !important;
    }
    :not(#tve) [data-css="tve-u-1776aa6026a"] {
        font-size: 34px !important;
        color: rgb(47, 153, 46) !important;
        --tcb-applied-color: rgb(47, 153, 46) !important;
        --tve-applied-color: rgb(47, 153, 46) !important;
        font-weight: var(--g-bold-weight, bold) !important;
    }
    :not(#tve) [data-css="tve-u-1776a540ac4"] {
        font-size: 19px !important;
    }
    [data-css="tve-u-1776a58ccac"] {
        display: block;
        max-width: 331px;
        width: 331px;
    }
    [data-css="tve-u-1776a5a2ea5"] {
        margin-top: 17px !important;
    }
    [data-css="tve-u-1774c2ded96"] {
        padding-right: 0px !important;
    }
    [data-css="tve-u-1774be0a249"] {
        margin-top: 0px !important;
    }
    [data-css="tve-u-177708f374a"] {
        min-width: 100% !important;
    }
    :not(#tve) [data-css="tve-u-177708f3750"] {
        font-size: 14px !important;
    }
    [data-css="tve-u-177708f3750"] {
        line-height: 1.3em !important;
    }
    [data-css="tve-u-1776ab5053f"] {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    [data-css="tve-u-1776a5d7021"] {
        flex-wrap: wrap !important;
    }
    [data-css="tve-u-1776a5d7021"]>.tcb-flex-col {
        flex-basis: 390px !important;
    }
    [data-css="tve-u-17787df7e74"] {
        padding-top: 0px !important;
    }
    [data-css="tve-u-17787df8e85"] {
        margin-top: 1px !important;
    }
    [data-css="tve-u-1774bd7aa5a"] {
        border: 3px solid rgb(47, 153, 46);
        --tve-applied-border: 3px solid rgb(47, 153, 46);
        float: none;
        margin: 10px auto !important;
    }
    [data-css="tve-u-1774c129fbf"] {
        padding: 5px !important;
        margin-left: 10px !important;
        margin-right: 20px !important;
    }
    :not(#tve) [data-css="tve-u-1774c12140f"] {
        --g-regular-weight: 300;
        --g-bold-weight: 700;
        font-size: 17px !important;
        font-family: Roboto !important;
        font-weight: var(--g-regular-weight, normal) !important;
    }
    [data-css="tve-u-17770939571"] {
        color: rgb(192, 24, 24) !important;
    }
    [data-css="tve-u-17787e7c791"] {
        margin-top: 5px !important;
        padding: 5px !important;
        margin-bottom: 5px !important;
    }
    [data-css="tve-u-1774bcd704b"] {
        line-height: 1.5em !important;
    }
    [data-css="tve-u-1774bdd8130"] {
        line-height: 1.5em !important;
    }
    [data-css="tve-u-17787ea6e46"] .tve_sep {
        border-width: 27px !important;
        border-color: rgb(0, 106, 182) !important;
    }
    :not(#tve) [data-css="tve-u-174086b1842"] strong {
        font-weight: 700 !important;
    }
    :not(#tve) [data-css="tve-u-1774c254395"] strong {
        font-weight: 700 !important;
    }
    :not(#tve) [data-css="tve-u-1774c261efc"] strong {
        font-weight: 700 !important;
    }
    :not(#tve) [data-css="tve-u-1774c26d562"] strong {
        font-weight: 700 !important;
    }
    :not(#tve) [data-css="tve-u-1774c12140f"] strong {
        font-weight: 700 !important;
    }
    :not(#tve) [data-css="tve-u-1774c272f78"] strong {
        font-weight: 700 !important;
    }
    :not(#tve) [data-css="tve-u-1774c27ba24"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-1774bcd704b"] strong {
        font-weight: 700 !important;
    }
    [data-css="tve-u-174086b1842"] {
        line-height: 1.4em !important;
    }
    [data-css="tve-u-17788e49a5f"] {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    [data-css="tve-u-17788e51449"] {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    [data-css="tve-u-1776a8ec75f"] {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    [data-css="tve-u-1776aa6026a"] {
        line-height: 1.3em !important;
    }
    :not(#tve) [data-css="tve-u-17788e8e84c"] {
        font-size: 40px !important;
    }
    [data-css="tve-u-17788e8e84c"] {
        line-height: 1.5em !important;
    }
    [data-css="tve-u-1774bc20caa"] {
        margin-top: 10px !important;
    }
    [data-css="tve-u-177894e0392"] {
        border: 6px solid rgb(47, 153, 46);
        --tve-applied-border: 6px solid rgb(47, 153, 46);
    }
}